@font-face {
    font-family: 'IRANSANS BOLD';
    src: url('../font/IRANSansWeb_Bold.woff') format('woff'), url('../font/IRANSansWeb_Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'IRANSANS';
    src: url('../font/IRANSansWeb.woff') format('woff'), url('../font/IRANSansWeb.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Reckoner';
    src: url('../font/Reckoner.woff') format('woff'), url('../font/Reckoner.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html,body{
    background-color: #F7F7F7;
    font-size: 16px;
    font-family: 'IRANSANS';
}
@-webkit-keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.bounceInUp {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
/**********  Header **********/
header{
    padding: 50px;
}
    header .menu{
        float: right;
    }
        header .menu .hamburger{
            position: relative;
            z-index: 99;
        }
            header .menu .hamburger-box{
                width: 35px;
            }
            header .menu .hamburger .hamburger-inner,
            header .menu .hamburger .hamburger-inner::before,
            header .menu .hamburger .hamburger-inner::after{
                width: 35px;
            }
            header .menu .hamburger.is-active .hamburger-inner,
            header .menu .hamburger.is-active .hamburger-inner::before,
            header .menu .hamburger.is-active .hamburger-inner::after{
                background-color: #222;
            }
        header .menu nav{
            background-color: #eee;
            padding: 15px 15px 0px 15px;
            position: absolute;
            right:20px;
            top:20px;
            display: none;
        }
            header nav ul{
                list-style: none;
                display: block;
                text-align: right;
                margin-bottom: 0px;
                padding-right: 100px;
                direction: rtl;
            }
                header nav ul li{
                    display: inline-block;
                    margin-right: 20px;
                }
                header nav ul li:first-child{
                    margin-right: 0px;
                }
                    header nav ul li a{
                        text-decoration: none;
                        color: #222;
                    }
    header .logo{
        float: left;
    }
        header .logo img{
            max-width: 100%;
            height: auto;
            height: 55px;
            vertical-align: middle;
        }
/********** Intro **********/
.intro{
    width: 100%;
    max-width: 100%;
    clear: both;
    margin: 0 auto;
}
    .intro .intro_box_bg{
        background-image: url(../images/macbook.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 300px;
        position: relative;
    }
       .intro .intro_inner_box_bg{
            position: absolute;
            left: 0px;
            right: 0px;
            top: 0px;
            bottom: 0px;
            background-color: #dcda0c;
            opacity: .25;
       }
    .intro .intro_text{
        margin-left: 2%;
        padding: 20px 20px 35px 20px;
    }
        .intro .intro_text h2{
            font-size: 2em;
            color: #545454;
            margin-bottom: 20px;
            position: relative;
            background-color: #F7F7F7;
            margin-left: -30%;
            padding: 25px 15px 15px 15px;
            margin-top: 20px;
            padding-left: 50px;
            font-weight: bold;
            letter-spacing: .5px;
        }
            .intro .intro_text h2:before{
                content: '';
                position: absolute;
                left: 35px;
                top: 25px;
                bottom: 20px;
                width: 5px;
                background-color: #DCDA0C;
            }
        .intro .intro_text p{
            font-size: 21px;
            color: #686868;
            margin-bottom: 15px;
            font-weight: bold;
        }
        .intro .intro_text span{
            font-size: 15px;
            color: #848484;
            font-style: italic;
        }
/********** Project **********/
.projects{
    padding: 50px 0px;
    text-align: center;
}
    .projects h2{
        color: #555;
        font-size: 1.5em;
        letter-spacing: 1px;
        margin-bottom: 50px;
    }
    .projects .columns{
        margin-bottom: 2%;
        margin-left: 2%;
    }
        .projects .columns a{
            text-decoration: none;
            display: block;
            position: relative;
        }
        .projects .columns a:hover .overlay{
            animation-name: fadeIn;
        }
        .projects .columns a:hover .overlay,
        .projects .columns a:hover .overlay .dot{
            visibility: visible;
        }
        .projects .columns a:hover .overlay .dot{
            animation-name: bounceInUp;
        }
            .projects figure{
                overflow: hidden;
                max-height: 230px;
                margin: 0 auto;
            }
                .projects figure img{
                    object-fit: cover;
                    object-position: center;
                    height: 230px;
                    max-width: 100%;
                    width: 100%;
                }
            .projects .overlay{
                position: absolute;
                left: 0px;
                right: 0px;
                top: 0px;
                bottom: 0px;
                background-color: rgba(220, 218, 12, 0.29);
                visibility: hidden;
                text-align: center;
                overflow: hidden;
                -webkit-animation-duration: .5s;
                animation-duration: .5s;
                -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
            }
                .projects .overlay .preview{
                    width: 54px;
                    height: 54px;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    -ms-transform: translate(-50%, -50%);
                    -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                }
                    .projects .overlay .preview .dot{
                        -webkit-animation-duration: .5s;
                        animation-duration: .5s;
                        -webkit-animation-fill-mode: both;
                        animation-fill-mode: both;
                        visibility: hidden;
                        background-color: #d4c30c;
                        width: 15px;
                        height: 15px;
                        position: relative;
                        border-radius: 100%;
                        margin: 20px auto;
                    }
                    .projects .overlay .preview .dot:after{
                        content: '{';
                        position: absolute;
                        color: #fff;
                        left: -13px;
                        top: -31px;
                        font-size: 3.2em;
                        font-family: 'Reckoner';
                    }
                    .projects .overlay .preview .dot:before{
                        content: '}';
                        position: absolute;
                        color: #fff;
                        right: -17px;
                        top: -31px;
                        font-size: 3.2em;
                        font-family: 'Reckoner';
                    }
    .projects .link{
        color: #555;
        font-size: 16px;
        margin-top: 50px;
        letter-spacing: 1px;
        display: inline-block;
        position: relative;
        text-decoration: none;
    }
        .projects .link:after{
            content: '';
            position: absolute;
            left: 0px;
            right: 0px;
            bottom: -2px;
            height: 1px;
            background-color: #555;
        }
/********** Services **********/
.services{
    padding: 80px 0px;
    text-align: center;
    background-color: #EBEBEB
}
    .services h2{
        color: #434343;
        font-size: 1.7em;
        letter-spacing: 1.5px;
        margin-bottom: 50px;
    }
    .services figure{
        text-align: center;
        overflow: hidden;
        margin: 0 auto;
        max-height: 200px;
        min-height: 200px;
    }
        .services figure img{
            max-width: 100%;
            margin: 0 auto;
        }
    .services .columns p{
        color: #434343;
        font-size: 1.6em;
        margin-bottom: 15px;
        font-weight: bold;
    }
    .services .columns span{
        color: #686868;
        font-size: 13px;
        line-height: normal;
        font-weight: bold;
    }
/********** Language **********/
.programming_language{
    padding: 40px;
    text-align: center;
    background-color: #dcda0c;
}
    .programming_language ul{
        list-style: none;
        margin-bottom: 0px;
        display: block;
    }
        .programming_language ul li{
            display: inline-block;
            margin-left: 6%;
            margin-bottom: 0px;
        }
        .programming_language ul li:first-child{
            margin-left: 0px;
        }
            .programming_language ul li img{
                height: 60px;
            }
/********** Resposive **********/
@media(min-width:1600px){
    .container{
        max-width: 1200px;
    }
}